body {
  background-image: url("../img/smoke.jpg");
  background-size: cover;
  background-color: black;
  background-position: center;
  background-size: cover;
  color: white;
  font-family: arial;
  font-size: 20px;
}
.about {
  text-align: center;
  float: left;
  margin: 150px;
}
.top {
  text-align: center;
}
.portl {
  text-align: center;
  float: left;
  width: 35%;
  margin: 30px;
  padding: 30px;
}
.portr {
  text-align: center;
  float: right;
  width: 35%;
  margin: 30px;
  padding: 30px;
}
img {
  width: 400px;
}
